<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="/static/js/app.js" defer></script>
	<script src="/static/libs/rain.js" defer></script>
</head>
<body>
<div class="container">
<img src="/static/img/log.png" style="width: 100%; position: absolute;"  alt="article-cover" />
</div>


	<section class="layers">

		<div class="layers__container">
			<div class="layers__item layer-1" style="background-image: url(static/img/2.jpg);">
                <div class="layers__item layer-4">
				<canvas class="rain"></canvas>
			</div>
            </div>

			<div class="layers__item layer-2" style="background-image: url(static/img/rop.png);"></div>
			<div class="layers__item layer-3">
				<div class="hero-content">
					<h1>THETL project <span>portfolio</span></h1>
					<div class="hero-content__p">We create something new</div>
                    <form action="https://flask-pro.vercel.app/" target="_blank">
					<button class="button-start" style="background-color: rgba(157,162,158,0.4)">Portfolio</button>
                    </form>
                    <form action="https://port-ten-theta.vercel.app/" target="_blank">
					<button class="button-start" style="background-color: rgba(157,162,158,0.4)">Projects</button>
                    </form>
                    <div class="hero-content__p">The site was created for educational purposes and the employer</div>
				</div>
			</div>

			<div class="layers__item layer-5" style="background-image: url(static/img/three.png);"></div>
			<div class="layers__item layer-6" style="background-image: url(static/img/thr.png);"></div>
		</div>
	</section>

</body>
</html>
